### Data Exploration for Exercises

#### Import Libraries

In [2]:
import pandas as pd
import sqlalchemy as sql
import sqlite3 as sqlite

#### Load data

In [11]:
#df = pd.read_csv(r"..//../data/rhein-kreis-neuss-flughafen-weltweit.csv", sep= ";" )
#df = pd.read_csv(r"..//../data/stadt-neuss-herbstpflanzung-2023.csv", sep= ";" )
df = pd.read_csv(r"..//../data/46131-0014_00.csv", sep= ";" , skiprows=8 , skipfooter=3 , encoding='latin1' )
df

C:\Users\Sahel Bloukat\AppData\Local\Temp\ipykernel_12760\3427993930.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(r"..//../data/46131-0014_00.csv", sep= ";" , skiprows=8 , skipfooter=3 , encoding='latin1' )

,2024,Januar,NST7-011,Getreide,Schleswig-Holstein,-,-.1,-.2,-.3,-.4,...,-.32,-.33,-.34,-.35,-.36,-.37,-.38,-.39,278,278.1
0,2024,Januar,NST7-011,Getreide,Hamburg,-,-,-,-,-,...,-,-,-,-,13091,-,-,-,-,14397
1,2024,Januar,NST7-011,Getreide,Braunschweig,-,-,1988,-,-,...,-,-,-,-,-,-,-,-,426,2477
2,2024,Januar,NST7-011,Getreide,Hannover,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,2024,Januar,NST7-011,Getreide,Lüneburg,-,-,-,-,-,...,-,-,-,-,-,-,-,-,111,527
4,2024,Januar,NST7-011,Getreide,Weser-Ems,-,-,-,-,-,...,-,-,-,-,-,-,-,-,50,1210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41322,2024,Dezember,NaN,Insgesamt,Leipzig,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41323,2024,Dezember,NaN,Insgesamt,Sachsen-Anhalt,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41324,2024,Dezember,NaN,Insgesamt,Thüringen,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41325,2024,Dezember,NaN,Insgesamt,Ausland,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41326,2024,Dezember,NaN,Insgesamt,Insgesamt,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...

#### Load database

In [8]:
# engine=sql.create_engine('sqlite:///..///../data/trees.sqlite')
# with engine.connect() as conn:
#     df = pd.read_sql('select * from trees', conn)
# df

engine=sql.create_engine('sqlite:///..///../goodsTransportedByTrain.sqlite')
with engine.connect() as conn:
    df = pd.read_sql('select * from goods', conn)
df

,year,month,goods_id,goods_name,goods_source,abroad,total
0,2024,Januar,NST7-011,Getreide,Braunschweig,426,2477
1,2024,Januar,NST7-011,Getreide,Lüneburg,111,527
2,2024,Januar,NST7-011,Getreide,Weser-Ems,50,1210
3,2024,Januar,NST7-011,Getreide,Köln,252,252
4,2024,Januar,NST7-011,Getreide,Detmold,166,166
...,...,...,...,...,...,...,...
935,2024,Februar,NST7-200,"Sonstige Güter, anderweitig nicht klassifiziert",Oberpfalz,977,977
936,2024,Februar,NST7-200,"Sonstige Güter, anderweitig nicht klassifiziert",Schwaben,1002,1002
937,2024,Februar,NST7-200,"Sonstige Güter, anderweitig nicht klassifiziert",Dresden,8130,8130
938,2024,Februar,NST7-200,"Sonstige Güter, anderweitig nicht klassifiziert",Ausland,535,11561
939,2024,Februar,NST7-200,"Sonstige Güter, anderweitig nicht klassifiziert",Insgesamt,20706,176994